@model DND.Models.FindSpell

@{
    ViewBag.Title = "Spells";

}
@{var levels = new SelectList(new[] { "All", "Cantrip","1", "2", "3", "4", "5", "6", "7", "8", "9" }); }

@using (Ajax.BeginForm("FindSpells", "Spell", new AjaxOptions { UpdateTargetId = "SpellListPartial" }))
{ 
    
    
    @Html.DropDownListFor(m => m.ClassId, (SelectList)ViewBag.classes)

    @Html.DropDownListFor(m => m.Level, levels)

    @Html.EditorFor(m => m.SpellName)
    
    <input type="submit" value="Find Spells" class="btn btn-default" id="submitButton"/>
}



<div id="SpellListPartial">

    </div>
<div id="SpellListPartialLoading">

</div>
<script>
    $(function () {
        $.ajax({
            url: '/Spell/FindSpells',
            contentType: 'application/html; charset=utf-8',
            type: 'POST',
            datetype: 'html'
        }).success(function (result) {
            $('#SpellListPartialLoading').hide();
            $('#SpellListPartial').html(result);
        });
    });
</script>


